header{
    min-height: 20vh;
}

.navbar{
    height: 30px;
}
  
header > h1{
    font-size: 2em;
}

section.sobrenos{
    font-size: 1em;
    text-indent: 30px;
    line-height: 1.5em;
}

#tamar-logo{
    max-width: 200px;
    width: auto;
    height: auto;
    padding: 20px 0px;
}