header{
    height: 240px;
}

hearder img.logo-site{
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 50px;
} 

div h1{
    font-size: 1.7em;
}
div > p{
    font-size: 0.8em;
    padding-bottom: 10px;
}

section.content{
    width: 92vw;
}

section.conteudo{
    padding: 10px 20px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.7em;
}

section h2{
    padding: 12px;
    font-size: 1.2em;
}

section p{
    padding: 10px;
}