header{
    min-height: 20vh;
}

.navbar{
    height: 30px;
}

header h1{
    font-size: 2em;
}
  
/*div h1{
    font-size: 2em;
}

div > p{
    font-size: 1.1em;
    padding-bottom: 10px;
}

section.content{
    width: 92vw;
}

section.conteudo{
    padding: 10px 20px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.7em;
}

section h2{
    padding: 12px;
}

section p{
    padding: 10px;
}
    */