header{
    min-height: 20vh;
}

.navbar{
    height: 30px;
}

header h1{
    font-size: 2em;
}

section.conteiner{ 
    display: grid;
    border-radius: 5px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 2px;
}

div.img-noticias{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 200px;
  }
  
/*
div h1{
    font-size: 1.7em;
}

div > p{
    font-size: 1.1em;
    padding-bottom: 10px;
}

section.content{
    width: 92vw;
}

section.conteudo{
    padding: 10px 20px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.7em;
}

section h2{
    padding: 12px;
    font-size: 1.2em;
}

section p{
    padding: 10px;
}
    */