header{
    height: 240px;
}

img.logo-site{
    width: auto;
    height: auto;
    max-height: 40px;
    max-width: 40px;
    padding: 5px;
} 

div h1{
    font-size: 1.9em;
}

.legenda{
    font-size: 0.8em;
    text-align: center;
    max-width: 70vw;
}

section h2{
    padding: 12px;
    font-size: 1.2em;
}